<div class="container">
  <div class="row-fluid">
    <!-- main span -->
      <h1> 東京Ruby会議10 スポンサー </h1>
      <section class='page-header'>
        <h2> Ruby スポンサー </h2>
        <div class="row-fluid">
          <div class="span5">
            <a href='http://www.drecom.co.jp/' target='_blank'>
              <div class='thumbnail'>
                <img src='/img/sponsor/ruby_drecom_data_CMYK.png' alt='ドリコム様ロゴ'>
              </div>
            </a>
          </div>
          <div class="span7">
            <h3> 株式会社ドリコム </h3>
            <p>ドリコムはインターネット上での“モノづくり企業”として、「with Entertainment」＝多くの人の期待を超えるようなサービスを生み出していくことを理念としています。</p>
            <p>2006年からRuby on Railsを全社的に採用し、ユーザへ継続的に価値を届けられるよう、様々なプラクティスを通じてソフトウェア開発を行っています。</p>
            <p>現在「ソーシャル」を軸としてゲーム、広告、ラーニング分野にて事業を展開し、月間60億PV超のアクセスをRubyで支えています。</p>
            <p>引き続きスマートフォン向けサービスに軸足を移しつつ、今後は世界も視野に入れてサービスを提供してまいります。</p>
            <p>社外向けの勉強会にも積極的に取り組み、インターネット技術発展の一端を担いたいと考えております。</p>
            <p>これからもみなさんと一緒にRubyの発展を願っています。</p>
          </div>
        </div>
        <div class='row-fluid'>
          <div class="span5">
            <a href='http://cookpad.com/' target='_blank'>
              <div class='thumbnail'>
                <img src='/img/sponsor/ruby_cookpad_1_w.png' alt='クックパッド様ロゴ'>
              </div>
            </a>
          </div>
          <div class='span7'>
            <h3> クックパッド株式会社 </h3>
            <p>クックパッド株式会社は、「毎日の料理を楽しみにすることで、心からの笑顔を増やす」を経営理念に掲げ、それを実現するためのサービスを複数運営しています。メインサービスである料理レシピ投稿・共有サイト ’cookpad.com’ は、月間ユニークユーザーが1,500万人以上、レシピ数が120万品以上 (2012年4月現在) となり、今や20代から30代の女性の2人に1人が使ってくださるサービスへと成長してまいりました。</p>
            <p>技術面ではオープンソースへの貢献にも力を入れており、2011年秋には Ruby on Rails 上での実験的な機能開発を容易にするフレームワーク ‘Chanko’ をリリースいたしました。それを使うことで、開発初期段階のサービスを本番環境に組み込み、ユーザーの生の反応に基づいてそれを改善することが可能となりました。この方法で、常に20を越える新機能が試作され続けています。</p>
          </div>
        </div>
      </section>
      <section class='page-header' id='platinum-sponsors'>
        <h2> Platinum スポンサー </h2>
        <div class='row-fluid'>
          <div class='span4'>
            <a href='http://kray.jp/' target='_blank'>
              <div class='thumbnail'>
                <img src='img/sponsor/platinum_KRAY_logo_wkF.png' alt='クレイ様ロゴ' >
              </div>
            </a>
          </div>
          <div class='span8'>
            <h3> 株式会社クレイ </h3>
            <p>2007年の創業からほとんどのシステムをRubyとRuby on Railsで開発しているWebシステム会社です。</p>
            <p>「お客様も含めたみんなで考え、みんなで作り、みんなで価値を生み出す」ことを大切にし、アジャイルソフトウェア開発といったチーム開発に強みを持っています。</p>
          </div>
        </div>
        <div class='row-fluid'>
          <div class='span4'>
            <a href='http://voyagegroup.com/design-and-tech/' target='_blank'>
              <div class='thumbnail'>
                <img src='img/sponsor/platinum_VG_logo.png' alt='VOYAGE GROUP様ロゴ' >
              </div>
            </a>
          </div>
          <div class='span8'>
            <h3> 株式会社VOYAGE GROUP </h3>
            <p>VOYAGE GROUPは「事業開発会社」として、メディア・リサーチ・アドテクノロジー事業など多様なサービスを開発しています。事業を支える技術に対する考え方について、コーポレートサイトに掲載していますので、よろしかったらご覧ください。http://voyagegroup.com/design-and-tech/</p>
          </div>
        </div>
        <div class='row-fluid'>
          <div class='span4'>
            <a href='http://www.feedforce.jp/' target='_blank'>
              <div class='thumbnail'>
                <img src='img/sponsor/platinum_feedforce.png' alt='フィードフォース様ロゴ'>
              </div>
            </a>
          </div>
          <div class='span8'>
            <h3>株式会社フィードフォース</h3>
            <p>株式会社フィードフォースは「情報に、新しい架け橋を。」というミッションを掲げ、企業向けマーケティング支援サービスを提供する会社です。コンテンツフィーダー、ソーシャルPLUSといったサービスでRuby/Railsを活用しており、今後もRubyへの取り組みを続けていきます。</p>
          </div>
        </div>
        <div class='row-fluid'>
          <div class='span4'>
            <a href='http://aiming-inc.com/' target='_blank'>
              <div class='thumbnail'>
                <img src='img/sponsor/platinum_Aiming_logo.png' alt='Aiming 様ロゴ'>
              </div>
            </a>
          </div>
          <div class='span8'>
            <h3>株式会社 Aiming</h3>
            <p>株式会社Aimingは、オンラインゲームの企画・プロデュース・開発・運営を行う会社です。Ruby、CoffeeScript、C++(Boost)、C#(Unity)を使ってアジャイルな開発をしています。Rails、Padrino でオンラインゲーム作りたい人を募集しています！</p>
          </div>
        </div>
      </section>
      <section class='page-header' id='gold-sponsors'>
        <h2> Gold スポンサー </h2>
        <div class='row-fluid'>
          <div class='span3'>
            <a href='http://everyleaf.com/' target='_blank'>
              <div class='thumbnail'>
                <img src='/img/sponsor/gold_everyleaf_namelogo.png' alt='万葉様ロゴ' />
              </div>
            </a>
          </div>
          <div class='span3'>
            <a href='http://www.esm.co.jp/' target='_blank'>
              <div class='thumbnail'>
                <img src='/img/sponsor/gold_set-baseE_Y.png' alt='永和システムマネジメント様ロゴ' />
              </div>
            </a>
          </div>
          <div class='span3'>
            <a href='http://spicelife.jp/' target='_blank'>
              <div class='thumbnail'>
                <img src='/img/sponsor/gold_spicelife.png' alt='spice life様ロゴ' />
              </div>
            </a>
          </div>
          <div class='span3'>
            <a href='http://www.misoca.jp/' target='_blank'>
              <div class='thumbnail'>
                <img src='/img/sponsor/gold_standfarm.png' alt='スタンドファーム様ロゴ' />
              </div>
            </a>
          </div>
        </div>
        <br />
        <div class='row-fluid'>
          <div class='span3'>
            <a href='http://aktsk.jp' target='_blank'>
              <div class='thumbnail'>
                <img src='/img/sponsor/gold_akatsuki.png' alt='アカツキ様ロゴ' />
              </div>
            </a>
          </div>
          <div class='span3'>
            <a href='https://www.facebook.com/10xlab/app_173867929364735' target='_blank'>
              <div class='thumbnail'>
                <img src='/img/sponsor/gold_10xlab.png' alt='10xLab様ロゴ' style="height: 60px; width: auto;" />
              </div>
            </a>
          </div>
          <div class='span3'>
            <a href='https://codeiq.jp/' target='_blank'>
              <div class='thumbnail'>
                <img src='/img/sponsor/gold_codeiq.png' alt='CodeIQ様ロゴ' />
              </div>
            </a>
          </div>
        </div>
      </section>
    <!-- /main span -->
  </div>
</div>
